<ul class="list-unstyled">
  <% reviews.each do |review| %>
    <li class="media mb-3">
      <table class="table  table-bordered">
        <tr>
          <td>
            <%= link_to review.user.name, user_path(review.user) %> <span class="text-muted">posted at <%= review.created_at %></span>
          </td>
        <tr>
        <tr>
          <td><%= review.type %></td>
        </tr>
        <tr>
          <td>タイトル  <%= review.title%></td>
        </tr>        
        <div class="row">
          <div class="col-md-4">       
            <tr>
              <td>レビュー  <%= simple_format(review.content) %></td>
            </tr>
          </div>
        </div>
        <% if current_user == review.user %>
        <tr>
          <td>
            <%= link_to "削除する", review, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
        <% end %>
        <% if logged_in? %>
        <tr>
         <td>
         <% if current_user.favoriting?(review) %>
           <%= form_with(model: current_user.favorites.find_by(review_id: review.id), local: true, method: :delete) do |f| %>
             <%= hidden_field_tag :review_id, review.id %>
             <%= f.submit 'お気に入りを削除', class: 'btn btn-warning btn-sm' %>
           <% end %>
         <% else %>
          <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
             <%= hidden_field_tag :review_id, review.id %>
             <%= f.submit 'お気に入り', class: 'btn btn-info btn-sm' %> お気に入り数  <%= review.favorites.count %>
           <% end %>
         <% end %> 
         </td>
        </tr>
        <% end %>
      </table>
    </li>
  <% end %>
  <%= paginate reviews %>
</ul>