<div class="text-center">
  <h1>新規投稿</h1>
</div> 

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @review, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.select :type, [["架空のGame", "架空のGame"], ["実在のGame", "実在のGame"]] ,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'レビュー' %>
        <%= f.text_area :content , class: 'form-control',:placeholder => "500字以内で投稿してください。" ,  rows: 8 %>
      </div>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>

  </div>
</div>    
      
